@charset "UTF-8";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#textos {
    margin-top: 30.5px;
    -webkit-user-drag: none;
}

#espaco::after {
    content: " ";
    margin-right: 50px;
}

p {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.452);
    width: 500px;
    
}

#sublinhado {
    text-decoration: underline;
}


#informacao-rex {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
    
    
    
}

#informacao-rxs {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
}

#informacao-rfg {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
}

#informacao-rng {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
}

#informacao-rcl {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -125%);
    margin-top: 0px;
}

#informacao-rpg {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -125%);
    margin-top: 0px;
}

#informacao-rfl {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -115%);
    margin-top: 0px;
}

#informacao-rfs {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -115%);
    margin-top: 0px;
}

#informacao-rsc {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -122%);
    margin-top: 0px;
}

#informacao-rfw {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -130%);
    margin-top: 0px;
}

#informacao-rox {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -125%);
    margin-top: 0px;
}

#informacao-rop {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -120%);
    margin-top: 0px;
}

#informacao-rpb {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
}

#informacao-ris {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -140%);
    margin-top: 0px;
}

#informacao-rry {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -140%);
    margin-top: 0px;
}

#informacao-rcm {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -130%);
    margin-top: 0px;
}

#informacao-rmd {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -145%);
    margin-top: 0px;
}

#informacao-ice {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
}

#informacao-fil {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
}

#informacao-hum {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -130%);
    margin-top: 0px;
}

#informacao-eat {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -120%);
    margin-top: 0px;
}

#informacao-heg {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -105%);
    margin-top: 0px;
}

#informacao-avi {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -145%);
    margin-top: 0px;
}

#informacao-lho {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -135%);
    margin-top: 0px;
}

#informacao-eli {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    top: 60px;
    top: 0%;
    transform: translate(-50%, -94%);
}

#informacao-per {
    display: none;
    width: 900px;
    text-align: justify;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -110%);
    margin-top: 0px;
}
