@charset "UTF-8";


* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

div {
    display: block;
    -webkit-user-drag: element;
    user-select: none;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 16pt;
    text-align: center;
    line-height: 1.5;

}

body {
    
    /*background-image: url("../Azul2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;*/
    background-color: rgb(237, 237, 237);
}

.barra-superior {
    background-size: cover;
    height: 50px;
    align-content: center;
    margin-bottom: 0px;
    -webkit-user-drag: none;
    border: 1px solid rgb(139, 139, 139);
    background-color: rgb(40, 40, 87);
    color: white;    

}
.box-total{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
    height: 550px;
    border: none;
    border-radius: 10px;
    z-index: -1;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    
}

.grade {
    -webkit-user-drag: none;
}

.itens {
    max-width: 667px;
    margin: 15px;
    margin-left: 15px;
    margin-top: 61px;
    margin-bottom: 0px;
    padding: 5px;
    padding-top: 14px;
    padding-bottom: 0px;
    background-color: white;
    -webkit-user-drag: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.452);
}

p {
    font-weight: bold;
    padding-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left:80px;
    margin-right:80px;
    font-size: 16px;
    -webkit-user-drag: none;
    font-family: tahoma, arial, verdana, sans-serif;
    font-weight: normal;
    text-align: center;
}

img {
    width: 70px;
    height: 90px;
    max-width: 110%;
    max-height: 110%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    background-color: white;
    padding: 1px;
}

img:hover {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.box.item {
    margin-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: white;
    -webkit-user-drag: none;
}

.itens {
    background-color: white;
}

.box {
    width: 65px;
    height: 25px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 2px;
    -webkit-user-drag: none;
}

#aviso {
    color: red;
    padding-bottom: 0px;
    margin-top: -25px;
    margin-bottom: 10px;
}

.bordaVermelha {
    border-radius: 5px;
    border: 1px solid red;
    
    
}

.bordaVermelha:hover {
    
    border-radius: 5px;
    border: 1px solid red;
    box-shadow: 1px 1px 4px red;
    
    
    
}

.caixa-vazia {
    width: 422px;
    min-height: 105px;
    border: 1px solid rgb(168, 168, 168);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    -webkit-user-drag: none;
    border-radius: 5px;
}

#botao {
    width: 100px;
    height: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: tahoma, arial, verdana, sans-serif;
    background: linear-gradient(to bottom, white, white, white, white, rgb(218, 218, 218), rgb(218, 218, 218), rgb(218, 218, 218), rgb(218, 218, 218));
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.247);
    align-content: center;
    
}
#botao:hover {
    background: linear-gradient(to bottom, white, white, white, white, rgb(185, 215, 243), rgb(185, 215, 243), rgb(185, 215, 243), rgb(185, 215, 243));
    color: rgb(0, 0, 0);
}

.rodape {
    -webkit-user-drag: none;
    user-select: text;
    text-align: center;
    position: absolute;
    top: 570px;
    left: 50%;
    transform: translate(-50%);
    width: 800px;
    
}

a {
    font-family: tahoma, arial, verdana, sans-serif;
}

footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 800px;
    margin-top: 80px;
}
.tabela{
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    
}

.informacoes{
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    
}